<div [formGroup]="form">
  <mat-form-field>
    <mat-chip-list #chipList [errorStateMatcher]="errorMatcher" formControlName="selectedAuthor">
      <mat-chip *ngFor="let control of $any(form.controls['authors']).controls; let i = index" [selectable]="true"
               [removable]="true" (removed)="removeAuthor(i)">
        {{ control.value.firstName }} {{ control.value.lastName }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #authorInput
            placeholder="{{ 'Authors' | translate }}"
            [formControl]="authorTmpInput"
            (blur)="onTouched()"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectAuthor($event)">
      <mat-option *ngFor="let author of filteredAuthors | async" [value]="author.firstName + ' ' + author.lastName">
        {{ author.firstName }} {{ author.lastName }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="errorMatcher.hasError('minAuthorsLength')">
      <span translate>Please select at least one author</span>
    </mat-error>
  </mat-form-field>
</div>
