<div [formGroup]="form">
  <mat-form-field class="input-small">
    <input matInput
      [errorStateMatcher]="errorMatcher"
      [matDatepicker]="picker"
      formControlName="date"
      placeholder="{{ 'Date' | translate }}"
      name="date"
      (blur)="onTouched()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="errorMatcher.hasError('required')">
      <span translate>Please select date</span>
    </mat-error>
  </mat-form-field>
</div>
