<section class="course-toolbar">
  <div class="course-toolbar__search">
    <form autocomplete="off" (submit)="find()">
      <mat-form-field>
        <input matInput [(ngModel)]="searchCriteria" name="searchCriteria">
      </mat-form-field>
      <button type="submit" mat-raised-button>Search</button>
    </form>
  </div>

  <button mat-raised-button (click)="addCourse()">
    <mat-icon>add</mat-icon>
    Add course
  </button>
</section>

<section class="course-list" *ngIf="courses">
  <app-course-list-item
    *ngFor="let course of courses"
    [course]="course"
    (edit)="editCourse($event)"
    (remove)="removeCourse($event)">
  </app-course-list-item>
  <button mat-raised-button *ngIf="hasMoreCourses" (click)="loadMore()">Load more</button>
</section>
